doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "TODO: ADD DESCRIPTION") 
    meta(name = "author" content = "Jeffrey Shen")
    title TODO: ADD TITLE
    //link(rel = "icon" type = "image/png" sizes = "32x32" href = "assets/graphics/favicon.png")
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body
    #wrapper
      h1 Political Cartoons Over Time
      p The Library of Congress provides hundreds of historical political cartoons through its <a href = "https://www.loc.gov/collections/cartoon-drawings/?fa=online-format:image%7Caccess-restricted:false" target = "_blank">Cartoon Drawings</a> collection. How do these cartoons change over time? 
      hr 
      #graphs
        #main-graph.graph
          svg
      select#select-subject(onchange = "selectSubject()") 
        option(value = "All Subjects") All Subjects
      br
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
      br
      h2 Methodology
      hr
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
      br
      h2 Sources and Further Reading
      hr 
      ul 
        li Source code for this project is available on <a href = "https://github.com/jeffreyshen19/political-cartoon-visualizer" target = "_blank">Github</a>.
        li To view the dataset that this project uses, go <a href = "https://www.loc.gov/collections/cartoon-drawings/?fa=online-format:image%7Caccess-restricted:false" target = "_blank">here</a>.
        li To see other projects like this, go <a href = "https://labs.loc.gov/experiments/" target = "_blank">here</a>.
      br
      p 
        i Created by <a href = "http://jeffreyshen.com" target = "_blank">Jeffrey Shen</a> for the Library of Congress Labs.
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/d3/d3.min.js')
    script(src='dist/main.js')
