#wrapper{
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

#images{
  height: 492px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4px 0;
  border: 1px solid $dark-gray;

  .image{
    height: 325px;
    position: relative;
    display: inline-block;
    border: 1px solid $dark-gray;
    margin: 0 2px 4px;
    img{
      height: 250px;
      width: auto;
    }
    .caption{
      padding: 5px;
      h3{
        margin-bottom: 1px;
      }
      a{
        text-decoration: none;
        font-family: Libre_Franklin;
        font-size: 0.9em;
      }
      p{
        font-size: 0.9em;
        font-style: italic;
        margin-bottom: 5px;
      }
    }
  }
}
