@font-face {
  font-family: "Libre_Baskerville";
  src: url("../../assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "Libre_Baskerville";
  src: url("../../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Libre_Baskerville";
  src: url("../../assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Libre_Franklin";
  src: url("../../assets/fonts/Libre_Franklin/LibreFranklin-Bold.ttf");
}
