h1, h2, h3, h4, h5, h6{
  font-family: "Libre_Franklin";
  margin-bottom: 4px;
}

p, li, label{
  font-family: "Libre_Baskerville";
  line-height: 1.3em;
}

hr{
  border: 1px solid $black;
}

a{
  color: $blue;
  font-weight: bold;

  &:visited, &:focus{
    color: $blue;
  }
}

ul{
  list-style-type: disc;
  padding-left: 20px;
}

.hidden{
  display: none;
}

select{
  margin-bottom: 5px;
}

//Make form elements inline
label.label{
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 13px;
  margin-bottom: 4px;

  input, select{
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  input{
    width: 13px;
    height: 13px;
  }

  select{
    top: 0;
  }

}

.slick-prev:before, .slick-next:before {
  color: #838383;
}
